.hero{
    background-color: #fffdf9;
    /*color: colo de la letra*/
    color: #f1f1b0;
    padding: 32px 15px;
    display: grid;
    grid-template-columns: minmax(auto, 1024px);
    justify-content: center;
}

.ContainerChart{

    display: grid;

    grid-template: 500px / 85% 130px ;

    grid-gap: 10px 80px;
}